<h1>$team.getName() members:</h1>

<ul>
  #foreach($member in $team.getMembers())
   <li>Member Name: $member.getName()</li>
   <li>Member Language: $member.getLanguage()</li>
   <li>Member Skill: $member.getSkill()</li><br>
  #end
</ul>

<p><a href="/teams/$team.getId()/members/new">Add a new Member</a><br></p>
<p><a href="/teams">All teams</a><br></p>
<p><a href="/">Go Home</a><br></p>
